<header id="header" class="header d-flex align-items-center justify-content-center sticky-top">
  <nav id="navmenu" class="navmenu">
    <ul>
      <li><a href="/"><i class="bi bi-house navicon"></i><span>Home</span></a></li>
      <li><a href="/about/"><i class="bi bi-person-vcard navicon"></i><span>About</span></a></li>
      <li><a href="/resume/"><i class="bi bi-file-earmark-text navicon"></i><span>Resume</span></a></li>
      <li><a href="/portfolio/"><i class="bi bi-grid navicon"></i><span>Portfolio</span></a></li>
      <li class="dropdown">
        <a href="/blogs/">
          <i class="bi bi-pencil-square navicon"></i><span>Blogs</span>
        </a>
        <ul>
          <li><a href="/blogs/science/">Science</a></li>
          <li><a href="/blogs/life/">Life</a></li>
          <li><a href="/blogs/miscellanea/">Miscellanea</a></li>
        </ul>
      </li>
      <li class="dropdown">
        <a href="/notes/">
          <i class="bi bi-book navicon"></i><span>Notes</span>
        </a>
        <ul>
          <li><a href="/notes/lecture/">Lecture Notes</a></li>
          <li><a href="/notes/course/">Course Notes</a></li>
        </ul>
      </li>
      <li><a href="/contact/"><i class="bi bi-chat-text navicon"></i><span>Contact</span></a></li>
    </ul>
  </nav>
</header>

